<ion-view view-title="Contact"  style="background-image: url(src/assets/img/mainbackground.jpg) ; background-size: cover;">
  <ion-content style="text-align: center">
    <br>
    <h2 style="color:white;">Contact Us</h2>
    <br>
    
    <div class="row">
        <div class="col col-50">
            <label class="item item-input item-floating-label" style="background-color:white";
                <span class="input-label">First Name</span>
                <input type="text">
            </label>
        </div>
        <div class="col col-50">
            <label class="item item-input item-floating-label" style="background-color:white";
                <span class="input-label">Last Name</span>
                <input type="text">
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col col-50">
            <label class="item item-input item-floating-label" style="background-color:white";
                <span class="input-label">Mail</span>
                <input type="email">
            </label>
        </div>
        <div class="col col-50">
            <label class="item item-input item-floating-label" style="background-color:white";
                <span class="input-label">Phone</span>
                <input type="tel">
            </label>
        </div>
    </div>
    <div class="row">
            <label class="item item-input item-floating-label" style="margin-left: 4px;background-color:white";
                <span class="input-label">Message</span>
                <textarea class="area" rows="4" cols="45" style="background-color: white;"></textarea>
            </label>
    </div>
    <div class="row">
        <button class="button button-block button-balanced">
            Send
          </button>
    </div>
    <br>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1510.9173914858445!2d29.809913183504943!3d40.765658433881995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cb479f6b25d123%3A0x9df59082e46e7d03!2zxLBibmlzaW5hLCBHw7xsw7xtc2VyIFNrLiBObzo0LCA0MTkwMCBEZXJpbmNlL0tvY2FlbGk!5e0!3m2!1str!2str!4v1567512589580!5m2!1str!2str" width="100%" height="70%" frameborder="0" style="border:0;" allowfullscreen=""></iframe> 
    <br>
   
  </ion-content>
</ion-view>
